python-3.10
chromadb==0.4.22
opentelemetry-api==1.22.0
opentelemetry-sdk==1.22.0
opentelemetry-exporter-otlp==1.22.0
protobuf==4.25.1
streamlit
langchain
langchain-community
langchain-groq
langchain-huggingface
python-dotenv
sentence-transformers
pypdf

